[data-role="page"] {
    background-repeat: no-repeat;
    background-size: cover;
}
.ui-content {
    background: #fff;
    padding: 15px;
}

h1, h2, h3 {
    margin: 0;
}
h1 {
    font-size: 100pt;
    color: royalblue;
}
h2 {
    font-size: 40pt;
    color: royalblue;
}
h3 {
    font-size: 15pt;
    color: lightgray;
}
