<ul>
<li><a href="chicago">Chicago</a></li>
<li><a href="istanbul">Istanbul</a></li>
<li><a href="jakarta">Jakarta</a></li>
<li><a href="kiev">Kiev</a></li>
<li><a href="london">London</a></li>
<li><a href="madrid">Madrid</a></li>
<li><a href="mumbai">Mumbai</a></li>
<li><a href="nairobi">Nairobi</a></li>
<li><a href="new-york">New York</a></li>
<li><a href="oslo">Oslo</a></li>
<li><a href="paris">Paris</a></li>
<li><a href="saigon">Saigon</a></li>
<li><a href="salta">Salta</a></li>
<li><a href="shanghai">Shanghai</a></li>
<li><a href="springfield">Springfield</a></li>
<li><a href="stockholm">Stockholm</a></li>
<li><a href="sydney">Sydney</a></li>
<li><a href="tokyo">Tokyo</a></li>
<li><a href="toronto">Toronto</a></li>
</ul>
