html, body {
    margin: 0;
    font-size: 4vh;
    width: 100%;
    height: 100%;
    background: #fff;
    color: #000;
    font-family: "libre franklin", sans-serif;
}

.hide {
    display: none;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    height: 100%;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
    width: 20%;
    text-align: center;
    transition: all 1s;
    padding: 10px;
    font-weight: 400;
}
.room-ghost {
    opacity: 0;
}

.room-green { background: rgb(144, 238, 144); }
.room-yellow { background: rgb(255, 255, 0); }
.room-red { background: rgb(231, 76, 60); color: #fff; }

.room-title { font-size: 4vh; margin-bottom: 10px; }
.room-content { font-size: 2vh; }
.room-subtext { font-size: 1.5vh; }

#login {
    margin: auto;
}

.toronto { order: 10; }
.new-york { order: 20; }
.london { order: 30; }
.madrid { order: 40; }
.saigon { order: 50; }
.nairobi { order: 60; }
.istanbul { order: 70; }
.kiev { order: 80; }
.mumbai { order: 90; }
.sydney { order: 100; }
.shanghai { order: 110; }
.tokyo { order: 120; }

.istanbul > .room-title,
.sydney > .room-title { font-size: 6vh; }
