{% extends "base.html" %}

{% block title %}{{ title }}{% endblock%}

{% block content %}
<div data-role="page" {% if not current_event %} class="available"{% endif %}
    style="background-image: url({{ images|random }})">
  <div data-role="main" class="ui-content">
    <p class="now" style="float: right">
      {{ now_utc|format_date }}
    </p>
    <h1>{{ title }}</h1>
    {% if current_event %}
      <h2>
      {{ current_event.summary }}
      {{ current_event.start_time|format_time }} &ndash;
      {{ current_event.end_time|format_time }}
      </h2>
    {% elif future_events %}
      <h2 style="font-style: italic">
      Next: {{ future_events[0].summary }}
      {{ future_events[0].start_time|format_time }} &ndash;
      {{ future_events[0].end_time|format_time }}
      </h2>
    {% endif %}
  </div>
</div>
{% endblock %}
